node_modules/
dist/
build/
extension/dist/
backend/dist/
backend/dist_next/
backend/build/
backend/build_next/
backend/__pycache__/
tools/ffmpeg_win/
tools/aria2c/
tools/yt-dlp.exe
.venv/
.DS_Store
*.pyc
*.pyo
*.spec
!backend/YT2Premiere.spec
*.log
*.exe
backend/*.mp4
backend/*.m4a
backend/*.wav
backend/*.webm
backend/*.mp3
!backend/notification_sound.mp3
